In [1]:
import numpy as np;
import pandas as pd; 
import matplotlib.pyplot as plt;
import seaborn as sns

In [14]:
df = pd.read_csv(
    "/Users/mohitsingh/code/netflix_data_analysis/mymoviedb.csv",
    engine="python",
)
df.head()

,Release_Date,Title,Overview,Popularity,Vote_Count,Vote_Average,Original_Language,Genre,Poster_Url
0,2021-12-15,Spider-Man: No Way Home,Peter Parker is unmasked and no longer able to...,5083.954,8940,8.3,en,"Action, Adventure, Science Fiction",https://image.tmdb.org/t/p/original/1g0dhYtq4i...
1,2022-03-01,The Batman,"In his second year of fighting crime, Batman u...",3827.658,1151,8.1,en,"Crime, Mystery, Thriller",https://image.tmdb.org/t/p/original/74xTEgt7R3...
2,2022-02-25,No Exit,Stranded at a rest stop in the mountains durin...,2618.087,122,6.3,en,Thriller,https://image.tmdb.org/t/p/original/vDHsLnOWKl...
3,2021-11-24,Encanto,"The tale of an extraordinary family, the Madri...",2402.201,5076,7.7,en,"Animation, Comedy, Family, Fantasy",https://image.tmdb.org/t/p/original/4j0PNHkMr5...
4,2021-12-22,The King's Man,As a collection of history's worst tyrants and...,1895.511,1793,7.0,en,"Action, Adventure, Thriller, War",https://image.tmdb.org/t/p/original/aq4Pwv5Xeu...

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9837 entries, 0 to 9836
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Release_Date       9827 non-null   datetime64[ns]
 1   Title              9828 non-null   object
 2   Overview           9828 non-null   object
 3   Popularity         9827 non-null   float64
 4   Vote_Count         9826 non-null   Int64
 5   Vote_Average       9826 non-null   float64
 6   Original_Language  9827 non-null   object
 7   Genre              9826 non-null   object
 8   Poster_Url         9826 non-null   object
dtypes: Int64(1), datetime64[ns](1), float64(2), object(5)
memory usage: 701.4+ KB

In [17]:
df['Genre'].head()

0    Action, Adventure, Science Fiction
1              Crime, Mystery, Thriller
2                              Thriller
3    Animation, Comedy, Family, Fantasy
4      Action, Adventure, Thriller, War
Name: Genre, dtype: object

In [18]:
df.duplicated().sum()

np.int64(0)

In [33]:
df.describe()

        Popularity   Vote_Count
count  9827.000000       9826.0
mean     40.320570  1392.943721
std     108.874308  2611.303856
min       7.100000          0.0
25%      16.127500        146.0
50%      21.191000        444.0
75%      35.174500       1376.0
max    5083.954000      31077.0

In [46]:
df[pd.to_datetime(df["Release_Date"], errors="coerce").isna() & df["Release_Date"].notna()]

Empty DataFrame
Columns: [Release_Date, Title, Overview, Popularity, Vote_Count, Vote_Average, Original_Language, Genre, Poster_Url]
Index: []

In [37]:
df["Vote_Average"] = pd.to_numeric(
    df["Vote_Average"].astype(str).str.replace(",", ""),
    errors="coerce"
).astype("float")

df["Vote_Count"] = df["Vote_Count"].round(0).astype("Int64")

df.describe()

        Popularity   Vote_Count  Vote_Average
count  9827.000000       9826.0   9826.000000
mean     40.320570  1392.943721      6.439467
std     108.874308  2611.303856      1.129797
min       7.100000          0.0      0.000000
25%      16.127500        146.0      5.900000
50%      21.191000        444.0      6.500000
75%      35.174500       1376.0      7.100000
max    5083.954000      31077.0     10.000000

In [51]:
df.loc[
    pd.to_datetime(df["Release_Date"], errors="coerce").isna(),
    "Release_Date"
] = pd.NaT

df['Release_Date'] = pd.to_datetime(
    df["Release_Date"],
    errors="coerce"
)

In [62]:
#Converting release data from object to date time and taking only year as per questions

df['Release_Date'] = pd.to_datetime(df['Release_Date'])

df['Release_Date'] = df['Release_Date'].dt.year.astype("Int64");

df['Release_Date'].dtype

Int64Dtype()

In [64]:
cols = ['Original_Language', 'Overview', 'Poster_Url']

df.drop(cols, axis=1, inplace=True);

In [65]:
df.head()

,Release_Date,Title,Popularity,Vote_Count,Vote_Average,Genre
0,1970,Spider-Man: No Way Home,5083.954,8940,8.3,"Action, Adventure, Science Fiction"
1,1970,The Batman,3827.658,1151,8.1,"Crime, Mystery, Thriller"
2,1970,No Exit,2618.087,122,6.3,Thriller
3,1970,Encanto,2402.201,5076,7.7,"Animation, Comedy, Family, Fantasy"
4,1970,The King's Man,1895.511,1793,7.0,"Action, Adventure, Thriller, War"

In [70]:
bins = [0,4,6,7.5,10]
labels = ["Unpopular" , "Below_Avg" , "Average" , "Popular"]

df['Vote_Average'] = pd.cut(
    df['Vote_Average'],
    bins=bins,
    labels=labels,
)

TypeError: '<' not supported between instances of 'float' and 'str'

In [71]:
df.head()

,Release_Date,Title,Popularity,Vote_Count,Vote_Average,Genre
0,1970,Spider-Man: No Way Home,5083.954,8940,Popular,"Action, Adventure, Science Fiction"
1,1970,The Batman,3827.658,1151,Popular,"Crime, Mystery, Thriller"
2,1970,No Exit,2618.087,122,Average,Thriller
3,1970,Encanto,2402.201,5076,Popular,"Animation, Comedy, Family, Fantasy"
4,1970,The King's Man,1895.511,1793,Average,"Action, Adventure, Thriller, War"

In [75]:
df['Vote_Average'].value_counts()

Vote_Average
Average      5760
Below_Avg    2705
Popular      1156
Unpopular     105
Name: count, dtype: int64

In [81]:
df.dropna(inplace=True)
df.isna().sum()

Release_Date    0
Title           0
Popularity      0
Vote_Count      0
Vote_Average    0
Genre           0
dtype: int64